<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thi tự luận</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Trang thi tự luận | HOME</h1>
        <h2><a th:href="@{/giaovien}">1. Dành cho giáo viên</a></h2>
        <h2><a th:href="@{/sinhvien?question=1}">2. Dành cho sinh viên</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>